
.topo{
	background: rgb(0, 66, 117);;
	position: fixed;
	width: 100%;
	overflow: hidden;
	height: 50px;
	padding: 10px;
	line-height: 10px;
	top: 0;
	left: 0;

}
html, body {overflow-x: hidden;}

.topo h2{

	margin: 0px;
	padding: 0px;
	color: white;
	font-family:verdana;
	font-size:30px;
}


.rodape{
	background: red;
	position: fixed;
	width: 100%;
	overflow: hidden;
	height: 50px;
	padding: 10px;
	line-height: 10px;
	bottom: 0;
	left: 0;

}

.rodape h2{

	margin: 0px;
	padding: 0px;
}

.titulo h2{
	text-align: center;

	margin-left: 20px;
}
body{
	margin:0px;
	padding: 0px;
}
.menu{
	background: gray;
	margin: 0px;
	width: 240px;
	height: 100%;
	position: fixed;
}
.menu ul{
	margin: 0px;
	padding:0px;
}
.menu li{
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: gray;
}

.menu li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding: 10px;
	color: #FFF;
	text-decoration: none;
	text-align: right;
}
.menu li a:active {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);

	padding: 10px;
	color: #FFF;
	text-decoration: none;
	text-align: right;
	background-color: #E9E9E9;
	font-size: 1.0em;
	color: black;
}



.menu-anchor {
	width: 40px;
	height: 32px;
	margin-top: 5px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: #FFF;
	float: left;;
	border-radius: 8px;
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 7px auto;
	width: 70%;
	height: 0.25em;
	background: #007AFF;
	box-shadow: 0 .45em 0 0 #0053AD, 0 .9em 0 #034388;
	}

.menu-active .menu-anchor {background: #E9E9E9}


.menu {
	-webkit-transform: translateX(-240px);
	-moz-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	transform: translateX(-240px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
	Essa é a posição original do HEADER e do MAIN
*/
.topo, .main {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active .menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active .topo,
.menu-active .main {
	-webkit-transform: translateX(240px);
	-moz-transform: translateX(240px);
	-ms-transform: translateX(240px);
	transform: translateX(240px);
}

.main {
	top: 80px;
	position: absolute;
	padding: 15px;
}
.main p {
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: 20px;
}
